// ----------------------------------------------------------------------------
// CAPTION
// ----------------------------------------------------------------------------
figure {
  > figcaption {
    border-bottom: 1px solid #e8edf2;
    color: #666666;
    padding: $inuit-global-spacing-unit-small;

    @include inuit-font-size(15px);
    @include mq($from: tablet_landscape) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// BUTTONS
// ----------------------------------------------------------------------------
@mixin c-btn() {
  border-radius: $btn-radius;
  cursor: pointer;
  display: inline-block;
  // font-family: $montserrat-fonts;
  font-weight: 700;
  padding: 6px 25px;
  text-align: center;
  transition: $transition;
  vertical-align: middle;

  @include inuit-font-size(14px);
  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

@mixin c-btn--primary() {
  background-color: $brand-color-lighter;
  border: 2px solid $brand-color-lighter;
  color: white;
}

@mixin c-btn--ghost() {
  background-color: transparent;
  border: 2px solid #e8edf2;
}

.c-btn.fa {
  padding: 6px 15px;
}

.c-btn.fa-facebook {
  background-color: #3b5998;
}

.c-btn.fa-twitter {
  background-color: $twitter-color;
}

.c-btn.fa-instagram {
  background-color: $instagram-color;
}

.c-btn.fa-linkedin {
  background-color: $linkedin-color;
}

.c-btn__wrapper {
  a {
    @include c-btn();
    @include c-btn--primary();
  }
}

.c-btn__wrapper--arrow {
  a {
    &:after {
      font-awesome: long-arrow-right;
      margin-left: 10px;
    }
  }
}

.form-submit {
  @include c-btn();
  @include c-btn--primary();
}

.c-btn {
  @include c-btn();
}

.c-btn--primary {
  @include c-btn--primary();
}

.is-disabled {
  cursor: default !important;
  opacity: 0.5 !important;
  pointer-events: none !important;
}

// ----------------------------------------------------------------------------
// TABS
// ----------------------------------------------------------------------------
[id="block-m2q-local-tasks"] {
  // clear: both;
}
ul.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  .path-frontpage & {
    background-color: white;
    border: 1px solid;
    display: inline-block;
    padding: 12px;
  }
}
.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}
[dir="rtl"] .tabs > li {
  margin-left: 0.3em;
  margin-right: 0;
}
.tabs a {
  background-color: initial;
  box-shadow: inset 0 -0.2em 0 0 #e5eaec;
  color: #96a8b2;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}
.tabs a.active {
  box-shadow: inset 0 -0.2em 0 0 #96a8b2;
  color: initial;
}
.tabs a:focus,
.tabs a:hover,
.tabs a.is-active {
  color: initial;
}
.tabs a.is-active {
  box-shadow: inset 0 -0.2em 0 0 $brand-color;
}

// ----------------------------------------------------------------------------
// FORMS
// ----------------------------------------------------------------------------
.form-type-textfield,
.form-type-password,
.form-type-email {
  label {
    display: block;
  }
}

.form-text,
.form-textarea,
.form-email {
  background-color: white;
  border: 2px solid $dark-color-lighter;
  border-radius: $radius;
  max-width: 100%;
  padding: 6px 8px;

  @include inuit-font-size(14px);
}

// ----------------------------------------------------------------------------
// TITLE
// ----------------------------------------------------------------------------
.block-page-title-block {
  padding-top: $inuit-global-spacing-unit;

  @include mq($from: tablet_landscape) {
    padding-top: $inuit-global-spacing-unit-large;
  }
}

// ----------------------------------------------------------------------------
// LOGO
// ----------------------------------------------------------------------------
.block-system-branding-block {
  display: table-cell;
}

// ----------------------------------------------------------------------------
// BLOCKS
// ----------------------------------------------------------------------------
.block {
  .region-content & {
    margin-bottom: $inuit-global-spacing-unit;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// VIEWS
// ----------------------------------------------------------------------------
.view-galery {
  .views-row {
    overflow: hidden;
    position: relative;
    &:hover {
      .views-field-nothing {
        filter: alpha(opacity=70);
        opacity: 1;
        transition: opacity 0.3s ease-out;
      }
      img {
        transform: scale(1.02);
        transition: transform 0.3s ease-out;
      }
    }
    img {
      transform: scale(1);
    }
  }
  .o-layout__item {
    padding: 0;
  }
  .views-field-field-images {
    ul {
      margin: 0;
    }
    li {
      list-style: none;
      margin: 0;
    }
  }
  .views-field-nothing {
    align-items: center;
    background-color: rgba(15,15,15,0.7);
    display: flex;
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    line-height: 24px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 0.2s ease-out;
    width: 100%;
    z-index: 100;
    .field-content {
      color: white;
      display: block;
      width: 100%;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

// ----------------------------------------------------------------------------
// NODES
// ----------------------------------------------------------------------------
.node--type-lamp {
}

.field--name-field-images {
  img {
    height: auto;
    max-width: 100%;
  }
}

.field--name-field-homepage-slider-images {
  img {
    height: auto;
    max-width: 100%;
  }
}

.node--type-lamp.node--view-mode-full .field--name-body {
  max-height: 500px;
  overflow: auto;
}

// ----------------------------------------------------------------------------
// MENUS
// ----------------------------------------------------------------------------  
.menu--main {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-small);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-small;
    vertical-align: middle;
    a {
      color: rgba(255, 255, 255, 0.3);
      display: block;
      font-family: $leelawui-fonts;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      &.is-active,
      &:hover {
        color: white;
      }
      &:hover {
        color: white;
        &:after {
          transform: translate(102%, 0px);
        }
      }
      &:after {
        background-color: #ffffff;
        bottom: 0;
        content: "";
        height: 1.5px;
        left: 0;
        position: absolute;
        transform: translate(-102%, 0px);
        transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
        width: 100%;
      }
    }
  }
}

.menu--account {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-tiny);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-tiny;
    vertical-align: middle;
  }
}

.menu--social {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-tiny);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-tiny;
    vertical-align: middle;
    .fa {
      background: rgba(#333333,0.3);
      border-radius: 50%;
      color: #333333;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 32px;
      position: relative;
      text-align: center;
      transition: background 0.2s,color 0.2s;
      width: 32px;
      z-index: 1;
      &:hover {
        background: #333333;
        color: #ffffff;
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
      &:before {
        color: white;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        @include inuit-font-size(20px);
      }
      &:after {
        border-radius: 50%;
        box-shadow: 0 0 0 2px #333333;
        box-sizing: content-box;
        content: "";
        height: 100%;
        left: -3px;
        opacity: 0;
        padding: 3px;
        pointer-events: none;
        position: absolute;
        top: -3px;
        transform: scale(0.8);
        transition: transform 0.2s,opacity 0.2s;
        width: 100%;
      }
    }
  }
}

// ----------------------------------------------------------------------------
// HP SLIDER
// ---------------------------------------------------------------------------- 
.field--name-field-homepage-slider-images {
  // &.slick-slider {
  left: 0;
  position: fixed; // because of contextual links
  right: 0;
  top: 0;
  z-index: -1;
  // }
  // .slick-slide {
  img {
    height: auto;
    margin: auto;
    width: 100%;
  }
  // }
  .slick-active {
    img {
      animation: zoom 10s;
    }
  }
  .slick-arrow {
    background-color: transparent;
    border: 0;
    font-size: 0;
    height: 100vh;
    padding: 0 20px;
    position: absolute;
    top: 0;
    z-index: 1;
    &:before {
      color: white;
      font-size: 70px;
    }
  }
  .slick-prev {
    left: 0;
    &:before {
      font-awesome: angle-left;
    }
  }
  .slick-next {
    right: 0;
    &:before {
      font-awesome: angle-right;
    }
  }
  .slick-dots {
    left: 0;
    margin: 0 auto;
    margin-top: -50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100vh;
    li {
      display: inline-block;
      margin: 0 $inuit-global-spacing-unit-tiny;
      vertical-align: middle;
      &.slick-active {
        button {
          &:before {
            background-color: $brand-color;
            size: 10px;
            border-radius: 50%;
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin: auto;
          }
        }
      }
    }
    button {
      background-color: white;
      border: 0;
      border-radius: 50%;
      font-size: 0;
      size: 20px;
      padding: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// SHARETHIS
// ---------------------------------------------------------------------------- 
.stButton {
  margin: 0;
  .stLarge {
    vertical-align: middle;
  }
}

// ----------------------------------------------------------------------------
// STICKY
// ----------------------------------------------------------------------------
.sticky {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}