// ----------------------------------------------------------------------------
// CAPTION
// ----------------------------------------------------------------------------
figure {
  > figcaption {
    border-bottom: 1px solid #e8edf2;
    color: #666666;
    padding: $inuit-global-spacing-unit-small;

    @include inuit-font-size(15px);
    @include mq($from: tablet_landscape) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// BUTTONS
// ----------------------------------------------------------------------------
@mixin c-btn() {
  border-radius: $btn-radius;
  cursor: pointer;
  display: inline-block;
  // font-family: $montserrat-fonts;
  font-weight: 700;
  padding: 6px 25px;
  text-align: center;
  transition: $transition;
  vertical-align: middle;

  @include inuit-font-size(14px);
  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

@mixin c-btn--primary() {
  background-color: $brand-color-lighter;
  border: 2px solid $brand-color-lighter;
  color: white;
}

@mixin c-btn--ghost() {
  background-color: transparent;
  border: 2px solid #e8edf2;
}

.c-btn.fa {
  padding: 6px 15px;
}

.c-btn.fa-facebook {
  background-color: #3b5998;
}

.c-btn.fa-twitter {
  background-color: $twitter-color;
}

.c-btn.fa-instagram {
  background-color: $instagram-color;
}

.c-btn.fa-linkedin {
  background-color: $linkedin-color;
}

.c-btn__wrapper {
  a {
    @include c-btn();
    @include c-btn--primary();
  }
}

.c-btn__wrapper--arrow {
  a {
    &:after {
      font-awesome: long-arrow-right;
      margin-left: 10px;
    }
  }
}

.form-submit {
  @include c-btn();
  @include c-btn--primary();
}

.c-btn {
  @include c-btn();
}

.c-btn--primary {
  @include c-btn--primary();
}

.is-disabled {
  cursor: default !important;
  opacity: 0.5 !important;
  pointer-events: none !important;
}

// ----------------------------------------------------------------------------
// TABS
// ----------------------------------------------------------------------------
[id="block-m2q-local-tasks"] {
  // clear: both;
}
ul.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  // .path-frontpage & {
  //   background-color: white;
  //   border: 1px solid;
  //   display: inline-block;
  //   padding: 12px;
  // }
}
.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}
[dir="rtl"] .tabs > li {
  margin-left: 0.3em;
  margin-right: 0;
}
.tabs a {
  background-color: initial;
  box-shadow: inset 0 -0.2em 0 0 #e5eaec;
  color: #96a8b2;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}

.tabs a:focus,
.tabs a:hover,
.tabs a.is-active {
  color: white;
  transition: $transition;
}
.tabs a.is-active {
  box-shadow: inset 0 -0.2em 0 0 white;
}

// ----------------------------------------------------------------------------
// FORMS
// ----------------------------------------------------------------------------
.form-type-textfield,
.form-type-password,
.form-type-email {
  label {
    display: block;
  }
}

.form-text,
.form-textarea,
.form-email {
  background-color: white;
  border: 2px solid $dark-color-lighter;
  border-radius: $radius;
  max-width: 100%;
  padding: 6px 8px;

  @include inuit-font-size(14px);
}

// ----------------------------------------------------------------------------
// TITLE
// ----------------------------------------------------------------------------
.block-page-title-block {
  padding-top: $inuit-global-spacing-unit;

  @include mq($from: tablet_landscape) {
    padding-top: $inuit-global-spacing-unit-large;
  }
}

// ----------------------------------------------------------------------------
// LOGO
// ----------------------------------------------------------------------------
.block-system-branding-block {
  display: table-cell;
}

// ----------------------------------------------------------------------------
// BLOCKS
// ----------------------------------------------------------------------------
.block {
  .region-content & {
    margin-bottom: $inuit-global-spacing-unit;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// VIEWS
// ----------------------------------------------------------------------------
.view-galery {
  .view-header {
    @at-root .button-group {
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: space-between;
      button {
        background: none;
        border: 0;
        color: white;
        font-family: "LeelawUI";
        font-weight: 700;
        font-weight: 700;
        padding: $inuit-global-spacing-unit-small;
        text-align: center;
        text-transform: uppercase;

        flex-grow: 1;
      }
    }
  }
  .views-row {
    overflow: hidden;
    position: relative;
    &:hover {
      .views-field-nothing {
        filter: alpha(opacity=70);
        opacity: 1;
        transition: opacity 0.3s ease-out;
      }
      img {
        transform: scale(1.02);
        transition: transform 0.3s ease-out;
      }
    }
    img {
      max-width: 100%;
      transform: scale(1);
    }
  }
  .o-layout__item {
    padding: 0;
  }
  .views-field-field-images {
    ul {
      margin: 0;
    }
    li {
      list-style: none;
      margin: 0;
    }
  }
  .views-field-nothing {
    align-items: center;
    background-color: rgba(15,15,15,0.7);
    display: flex;
    filter: alpha(opacity=0);
    height: 100%;
    left: 0;
    line-height: 24px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 0.2s ease-out;
    width: 100%;
    z-index: 100;
    .field-content {
      color: white;
      display: block;
      width: 100%;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  @at-root .views-field-field-lamp-type {
    .field-content {
      &:contains("interior") {
        &:before {
          content: "\ea07";
          font-family: "Fontice-IconsFont";
        }
      }
    }
  }
}

// ----------------------------------------------------------------------------
// NODES
// ----------------------------------------------------------------------------
.node--type-lamp.node--view-mode-full {
  margin-bottom: $inuit-global-spacing-unit-large;
  text-align: center;
  .field {
    margin-bottom: $inuit-global-spacing-unit-large;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .field--name-node-title {
    text-align: center;
    h2 {
      margin: 0;
    }
  }
  .field--name-body {
    max-width: 800px;
    margin: auto;
  }
}

.field--name-field-made-in {
  .field__label {
    &:before {
      content: "\e946";
      font-family: 'Fontice-IconsFont' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      margin-right: 5px;
    }
  }
  > div {
    display: inline-block;
  }
}

.field--name-field-images {
  img {
    max-height: 100%;
    width: auto;
  }
}

.field--name-field-homepage-slider-images {
  img {
    height: auto;
    max-width: 100%;
  }
}

.field--name-dynamic-block-fieldnode-facebook-like-button-field {
  > .fb_iframe_widget {
    background-color: white;
    display: inline-block;
    padding: 10px;
  }
}

// ----------------------------------------------------------------------------
// MENUS
// ----------------------------------------------------------------------------  
.menu--main {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-small);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-small;
    vertical-align: middle;
    .region-header & {
      &--active-trail {
        position: relative;
        // &:after {
        //   bottom: -20px;
        //   content: "\ea10";
        //   color: #ffffff;
        //   font-family: "Fontice-IconsFont";
        //   position: absolute;
        //   text-align: center;
        //   transform: translate(0, 0);
        //   width: 100%;
        //   a.is-active:after {
        //     display: none;
        //   }
        // }
      }
    }
    a {
      color: white;
      display: block;
      font-family: $leelawui-fonts;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      &.is-active {
        pointer-events: none;
        &:after {
          background-color: #ffffff;
          bottom: 0;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          transform: translate(0, 0);
          width: 100%;
        }
      }
      &:hover {
        &:after {
          transform: translate(102%, 0px);
        }
      }
      &:after {
        background-color: #ffffff;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transform: translate(-102%, 0px);
        transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
        width: 100%;
      }
    }
  }
}

.menu--account {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-tiny);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-tiny;
    vertical-align: middle;
  }
}

.menu--social {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-tiny);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-tiny;
    vertical-align: middle;
    .fa {
      background: rgba(#ffffff,0.3);
      border-radius: 50%;
      color: #333333;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 32px;
      position: relative;
      text-align: center;
      transition: background 0.2s,color 0.2s;
      width: 32px;
      z-index: 1;
      &:hover {
        background: #ffffff;
        color: #ffffff;
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
      &.fa-facebook:hover {
        color: #3b5998;
      }
      &.fa-pinterest:hover {
        color: #bd081c;
      }
      &:before {
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        @include inuit-font-size(20px);
      }
      &:after {
        border-radius: 50%;
        box-shadow: 0 0 0 2px #ffffff;
        box-sizing: content-box;
        content: "";
        height: 100%;
        left: -3px;
        opacity: 0;
        padding: 3px;
        pointer-events: none;
        position: absolute;
        top: -3px;
        transform: scale(0.8);
        transition: transform 0.2s,opacity 0.2s;
        width: 100%;
      }
    }
  }
}

// ----------------------------------------------------------------------------
// HP SLIDER
// ---------------------------------------------------------------------------- 
.field--name-field-homepage-slider-images {
  &.slick-slider {
    left: 0;
    position: fixed; // because of contextual links
    right: 0;
    top: 0;
    z-index: -1;
  }
  .slick-slide {
    img {
      height: auto;
      margin: auto;
      width: 100%;
    }
  }
  .slick-current {
    img {
      animation: zoomin 120s infinite linear 1s;
    }
  }
  .slick-arrow {
    background-color: transparent;
    border: 0;
    font-size: 0;
    height: 100vh;
    opacity: 0.5;
    padding: 0 20px;
    position: absolute;
    top: 0;
    z-index: 1;
    &:before {
      color: white;
      font-size: 70px;
    }
    &:hover {
      opacity: 1;
      transition: $transition;
    }
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}

// ----------------------------------------------------------------------------
// LAMP SLIDER
// ---------------------------------------------------------------------------- 
.field--name-field-images {
  &.slick-slider {
    overflow: hidden;
  }
  .field__item {
    text-align: center;
  }
  .slick-slide {
    outline: none;
    position: relative;
    cursor: pointer;
    &.slick-active {
      outline-color: white;
      outline-style: auto;
      outline-width: 5px;
      cursor: default;
    }
  }
  .slick-arrow {
    background-color: rgba(black, 0.8);
    border: 0;
    bottom: 0;
    font-size: 0;
    height: 100%;
    padding: 0 20px;
    position: absolute;
    top: 0;
    z-index: 1;
    &:before {
      color: white;
      font-size: 30px;
    }
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}

.slick-expander {
  background-color: rgba(black, 0.4);
  border-radius: 50%;
  bottom: 30px;
  display: none;
  font-size: 30px;
  opacity: 0.5;
  padding: 10px;
  position: absolute;
  right: 30px;
  text-decoration: none;
  &:hover {
    opacity: 1;
    transition: $transition;
  }
  .slick-active & {
    display: block;
  }
  .fi {
    display: block;
  }
}

.field--name-display-field-copynode-lamp-images-copy {
  &.slick-nav {
    left: $inuit-global-spacing-unit;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
  }
  .field__item {
    &:at-most(3) {
      display: none;
    }
  }
  .slick-slide {
    border: 0;
    margin-bottom: $inuit-global-spacing-unit;
    outline: none;
    &.slick-current {
      outline-color: white;
      outline-style: auto;
      outline-width: 5px;
    }
    img {
      height: auto;
      max-width: 100%;
    }
  }
  .slick-arrow {
    background-color: rgba(black, 0.8);
    border: 0;
    font-size: 0;
    left: 0;
    // height: 100%;
    padding: 0 20px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    &:before {
      color: white;
      font-size: 30px;
    }
  }
  .slick-prev {
    top: 0;
  }
  .slick-next {
    bottom: 0;
  }
}

// ----------------------------------------------------------------------------
// SLICK SLIDER
// ---------------------------------------------------------------------------- 
// prevent content jump before JS init
.slick-slider,
.slick-nav {
  > .field__item:not(:first-child) {
    display: none;
  }
}
// ----------------------------------------------------------------------------
// SHARETHIS
// ---------------------------------------------------------------------------- 
.stButton {
  margin: 0;
  .stLarge {
    vertical-align: middle;
  }
}

// ----------------------------------------------------------------------------
// STICKY
// ----------------------------------------------------------------------------
.sticky-wrapper {
  position: relative;
  z-index: 1;
}

// ----------------------------------------------------------------------------
// SPLASHIFY
// ----------------------------------------------------------------------------
.splash-active {
  margin: 0 !important;
  padding: 0 !important;
  .toolbar,
  .l-container {
    display: none;
  }
}

.splash-wrapper {
  background-image: url(../images/landing-page.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% !important;
  min-width: 100%;
}

.splash-inner {
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.c-power-cta {
  left: 60%;
  position: absolute !important;
  top: 41%;
  z-index: 1;
  > * {
    margin-bottom: $inuit-global-spacing-unit;
  }
  .fi {
    animation: pulse 4s infinite;
    background-color: #ffffff;
    border: 4px solid black;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0,0,0, 0.4);
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    padding: 7px;
    vertical-align: middle;
    &:before {
      font-size: 40px;
      position: relative;
      top: -2px;
    }
    &:hover,
    &:focus {
      background-color: black;
      color: white;
    }
    &:focus {
      animation: none;
      & ~ .c-power-cta__reveal-text,
      & ~ .c-power-cta__reveal-text:after {
        animation-play-state: running;
      }
    }
  }
}

.c-power-cta__text {
  color: #000000;
  font-family: $leelawui-fonts;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.c-power-cta__reveal-text,
.c-power-cta__reveal-text:after {
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.c-power-cta__reveal-text {
  animation-name: reveal-text;
  cursor: default;
  display: block;
  font-size: 30px;
  position: relative;
  user-select: none;
  white-space: nowrap;
  &:after {
    animation-name: revealer-text;
    background-color: #333333;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    z-index: 999;
  }
}
