// ----------------------------------------------------------------------------
// TOP
// ----------------------------------------------------------------------------
.l-top {
  padding: $inuit-global-spacing-unit-small 0;
}

.region-top {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > div {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

// ----------------------------------------------------------------------------
// HEADER
// ----------------------------------------------------------------------------
.l-header {
  background-color: rgba(black, 0.6);
  padding: 2px 0;
  margin-bottom: $inuit-global-spacing-unit-large;
}

.region-header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > div {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}