// ----------------------------------------------------------------------------
// MASTER HEADER
// ----------------------------------------------------------------------------
.l-master-header {
  height: 120px;
}

// ----------------------------------------------------------------------------
// TOP
// ----------------------------------------------------------------------------
.l-top {
  padding: $inuit-global-spacing-unit-small 0;
}

.region-top {
  align-items: center;
  flex-direction: row;

  justify-content: space-between;
  > div {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

// ----------------------------------------------------------------------------
// HEADER
// ----------------------------------------------------------------------------
.l-header {
  background-color: rgba(black, 0.6);
  padding: 2px 0;
}

.region-header {
  align-items: center;
  flex-direction: row;

  justify-content: space-between;
  > div {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

// ----------------------------------------------------------------------------
// SUBMENU
// ----------------------------------------------------------------------------
.l-submenu {
  background-color: #9e9e9e;
  text-align: right;
  padding: $inuit-global-spacing-unit-small 0;
}

// ----------------------------------------------------------------------------
// MAIN
// ----------------------------------------------------------------------------
.l-main {
  margin-top: $inuit-global-spacing-unit-large;
}
