// SETTINGS
@import "node_modules/inuitcss/settings/settings.core";
@import "node_modules/font-awesome/scss/font-awesome";
@import "settings.scss";


// TOOLS
@import "node_modules/inuitcss/tools/tools.font-size";
@import "node_modules/inuitcss/tools/tools.clearfix";
@import "node_modules/inuitcss/tools/tools.hidden";
$mq-breakpoints: (
  mobile:  320px,
  mobileLandscape: 480px,
  tablet: 550px,
  tabletLandscape:  768px,
  desktop: 980px,
  wide:    1300px
);
@if (inuit-config(debug) == true) {
  $mq-show-breakpoints: (mobile, tablet, tablet_landscape, desktop, desktop_wide);
}
@import "node_modules/sass-mq/mq";
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
@import "node_modules/singularitygs/stylesheets/singularitygs.scss";


// GENERIC
@import "node_modules/inuitcss/generic/generic.box-sizing";
@import "node_modules/inuitcss/generic/generic.normalize";
@import "node_modules/inuitcss/generic/generic.reset";
@import "node_modules/inuitcss/generic/generic.shared";


// ELEMENTS
@import "node_modules/inuitcss/elements/elements.page";
@import "node_modules/inuitcss/elements/elements.headings";
@import "node_modules/inuitcss/elements/elements.images";
@import "node_modules/inuitcss/elements/elements.tables";


// OBJECTS
@import "node_modules/inuitcss/objects/objects.wrapper";
@import "node_modules/inuitcss/objects/objects.layout";
@import "node_modules/inuitcss/objects/objects.media";
@import "node_modules/inuitcss/objects/objects.flag";
@import "node_modules/inuitcss/objects/objects.list-bare";
@import "node_modules/inuitcss/objects/objects.list-inline";
@import "node_modules/inuitcss/objects/objects.box";
@import "node_modules/inuitcss/objects/objects.block";
@import "node_modules/inuitcss/objects/objects.ratio";
@import "node_modules/inuitcss/objects/objects.crop";
@import "node_modules/inuitcss/objects/objects.table";
@import "node_modules/inuitcss/objects/objects.pack";
@import "objects";


// COMPONENTS
//@import 'node_modules/slick-carousel/slick/slick.scss';
//@import 'node_modules/swiper/dist/css/swiper';
@import "layouts";
@import "components";


// UTILITIES
@import "node_modules/inuitcss/utilities/utilities.clearfix";
$inuit-offsets: true;
@import "node_modules/inuitcss/utilities/utilities.widths";
@import "node_modules/inuitcss/utilities/utilities.headings";
@import "node_modules/inuitcss/utilities/utilities.spacings";
$inuit-responsive-spacing-directions: (
  "-bottom": "-bottom",
  "-top": "-top",
);

$inuit-responsive-spacing-properties: (
  "margin": "margin",
  "padding": "padding",
);

$inuit-responsive-spacing-sizes: (
  "-none": 0,
  "-small": $inuit-global-spacing-unit-small,
  "-large": $inuit-global-spacing-unit-large,
  "-huge": $inuit-global-spacing-unit-huge,
  "": $inuit-global-spacing-unit
);
@import "node_modules/inuitcss/utilities/utilities.responsive-spacings";
@import "node_modules/inuitcss/utilities/utilities.print";
@import "node_modules/inuitcss/utilities/utilities.hide";
@import "node_modules/inuit-displays/inuit-displays.scss";
@import "utilities";
