{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row  o-layout__item [ u-1/2@tablet u-1/4@desktop ] u-margin-bottom',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    <div class="views-row__inner">
      {{ row.content }}
    </div>
  </div>
{% endfor %}
