// ----------------------------------------------------------------------------
// BLOCKS
// ----------------------------------------------------------------------------
.block-region {
  background-color: rgba(0, 0, 0, 0.1);
}

.block {
  .region-content & {
    margin-bottom: $inuit-global-spacing-unit;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// BUTTONS
// ----------------------------------------------------------------------------
.c-btn.fa {
  padding: 6px 15px;
}

.c-btn.fa-facebook {
  background-color: #3b5998;
}

.c-btn.fa-twitter {
  background-color: $color-twitter;
}

.c-btn.fa-instagram {
  background-color: $color-instagram;
}

.c-btn.fa-linkedin {
  background-color: $color-linkedin;
}

.c-btn__wrapper {
  a {
    @include c-btn;
    @include c-btn--primary;
  }
}

.form-submit {
  @include c-btn;
  @include c-btn--primary;
}

.c-btn {
  @include c-btn;
}

.c-btn--primary {
  @include c-btn--primary;
}

.is-disabled {
  cursor: default !important;
  opacity: 0.5 !important;
  pointer-events: none !important;
}

// ----------------------------------------------------------------------------
// CAPTION
// ----------------------------------------------------------------------------
figure {
   > figcaption {
    border-bottom: 1px solid #e8edf2;
    color: #666666;
    padding: $inuit-global-spacing-unit-small;

    @include inuit-font-size(15px);
    @include mq($from: tablet_landscape) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// DISPLAY SUITE
// ----------------------------------------------------------------------------
.ds-2col-stacked {
  display: grid;
  grid-gap: 40px;

  @include mq($from: tablet_landscape) {
    grid-template-columns: 1fr 1fr;
  }
   > .group-header {
    grid-column: 1 / -1;
  }
}

// ----------------------------------------------------------------------------
// FORMS
// ----------------------------------------------------------------------------
.form-type-textfield,
.form-type-password,
.form-type-email {
  display: inline-block;
  margin-right: 4%;
  width: 48%;
  &:nth-child(2n) {
    margin-right: 0;
  }
  label {
    display: block;
  }
}

.form-type-textarea {
  width: 100%;
}

.form-type-textfield,
.form-type-password,
.form-type-email {
  label {
    display: block;
  }
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c62828;
}


// .form-type-checkbox {
//   position: relative;
//   .form-checkbox {
//     margin-right: 8px;
//     opacity: 0;
//     overflow: hidden;
//     position: relative;
//     width: 18px;
//      + label {
//       position: relative;
//       &::before {
//         background-image: svg("v.svg", "[fill]: #fff");
//         background-position: center center;
//         background-repeat: no-repeat;
//         background-size: 10px;
//         border: 1px solid #cccccc;
//         border-radius: $radius;
//         content: "";
//         display: inline-block;
//         height: 18px;
//         left: -28px;
//         position: absolute;
//         top: 0;
//         width: 18px;
//       }
//     }
//     &:checked + label {
//       &::before {
//         background-image: svg("v.svg", "[fill]: #{$color-blue}");
//         border-color: $color-blue;
//         transition: $transition-time;
//       }
//     }
//   }
// }

// .form-type-radio {
//   position: relative;
//   .form-radio {
//     margin-right: 8px;
//     opacity: 0;
//     overflow: hidden;
//     position: relative;
//     width: 18px;
//      + label {
//       position: relative;
//       &::before {
//         background-image: svg("circle.svg", "[fill]: #fff");
//         background-position: center center;
//         background-repeat: no-repeat;
//         background-size: 10px;
//         border: 1px solid #cccccc;
//         border-radius: 50%;
//         content: "";
//         display: inline-block;
//         height: 18px;
//         left: -28px;
//         position: absolute;
//         top: 0;
//         width: 18px;
//       }
//     }
//     &:checked + label {
//       &::before {
//         background-image: svg("circle.svg", "[fill]: #{$color-blue}");
//         border-color: $color-blue;
//         transition: $transition-time;
//       }
//     }
//   }
// }
.form-actions {
  margin-left: - $inuit-global-spacing-unit / 2;
  margin-right: - $inuit-global-spacing-unit / 2;
   > .button {
    margin-left: $inuit-global-spacing-unit / 2;
    margin-right: $inuit-global-spacing-unit / 2;
  }
}

.form--inline {
  @include clearfix;
  .form-item {
    display: inline-block;
    float: none;
    margin-right: 10px;
    margin: 0;
    vertical-align: top;
  }
  .form-actions {
    clear: none;
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
}

.contact-form {
  font-size: 0;

  @include o-wrapper--small;
   > * {
    font-size: 16px;
  }
  .form-actions {
    margin-top: $inuit-global-spacing-unit-large;
    width: 100%;
  }
}

// ----------------------------------------------------------------------------
// HEADROOM
// ----------------------------------------------------------------------------
.headroom {
  transition-timing-function: cubic-bezier(0.600, 0.175, 0.505, 0.895);
  transition: all 300ms cubic-bezier(0.600, 0.175, 0.505, 0.895);
  will-change: transform;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

// ----------------------------------------------------------------------------
// HERO
// ----------------------------------------------------------------------------
.c-hero {
  position: relative;
  width: 100%;
  p {
    margin: 0;
  }
  img {
    height: auto;
    width: 100%;
  }
}

.c-hero__overlay {
  background-color: $color-dark;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

// ----------------------------------------------------------------------------
// LOGO
// ----------------------------------------------------------------------------
.block-system-branding-block {
  // display: table-cell;
  .region-navigation & {
    // margin-bottom: $inuit-global-spacing-unit;
  }
}

.site-logo {
  display: block;
  padding: 5px 0;
}

// ----------------------------------------------------------------------------
// MENUS
// ----------------------------------------------------------------------------  
.menu--main {
  .region-header &,
  .region-submenu & {
    .menu {
      margin: 0 (-$inuit-global-spacing-unit-small);
    }
    .menu-item {
      display: inline-block;
      margin: 0 $inuit-global-spacing-unit-small;
      vertical-align: middle;
      .region-header & {
        &--active-trail {
          position: relative;
        }
      }
      a {
        color: white;
        display: block;
        font-family: $font-leelawui;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        &.is-active {
          pointer-events: none;
          &:after {
            background-color: #ffffff;
            bottom: 0;
            content: "";
            height: 2px;
            left: 0;
            position: absolute;
            transform: translate(0, 0);
            width: 100%;
          }
        }
        &:hover {
          &:after {
            transform: translate(102%, 0px);
          }
        }
        &:after {
          background-color: #ffffff;
          bottom: 0;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          transform: translate(-102%, 0px);
          transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
          width: 100%;
        }
      }
    }
  }
}

.menu--main {
  .region-navigation & {
    .menu {
      margin: 0;
      .menu {
        margin-top: $inuit-global-spacing-unit-small;
      }
    }
    .menu-item {
      display: block;
      margin-bottom: $inuit-global-spacing-unit-small;
      a {
        color: white;
        // display: inline-block;
        font-family: $font-leelawui;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        &.is-active {
          pointer-events: none;
          &:after {
            background-color: #ffffff;
            bottom: 0;
            content: "";
            height: 2px;
            left: 0;
            position: absolute;
            transform: translate(0, 0);
            width: 100%;
          }
        }
      }
      .menu-item {
        a {
          color: rgba(255,255, 255, 0.8);
          font-size: 13px;
        }
      }
    }
  }
}

.menu--account {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-tiny);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-tiny;
    vertical-align: middle;
  }
}

.menu--social {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-tiny);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-tiny;
    vertical-align: middle;
    .c-menu--social__icon {
      background-color: rgba(#ffffff,0.3);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      border-radius: 50%;
      color: #333333;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 32px;
      position: relative;
      text-align: center;
      transition: background-color 0.2s, background-image 0.2s, color 0.2s;
      width: 32px;
      z-index: 1;
      &:hover {
        background-color: #ffffff;
        color: #ffffff;
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
      &.c-menu--social__icon--facebook {
        background-image: svg("facebook.svg", "[fill]: #333");
        &:hover {
          background-image: svg("facebook.svg", "[fill]: #{$color-facebook}");
        }
      }
      &.c-menu--social__icon--pinterest {
        background-image: svg("pinterest.svg", "[fill]: #333");
        &:hover {
          background-image: svg("pinterest.svg", "[fill]: #{$color-pinterest}");
        }
      }
      &.c-menu--social__icon--instagram {
        background-image: svg("instagram.svg", "[fill]: #333");
        &:hover {
          background-image: svg("instagram.svg", "[fill]: #{$color-instagram}");
        }
      }
      &:before {
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        @include inuit-font-size(20px);
      }
      &:after {
        border-radius: 50%;
        box-shadow: 0 0 0 2px #ffffff;
        box-sizing: content-box;
        content: "";
        height: 100%;
        left: -3px;
        opacity: 0;
        padding: 3px;
        pointer-events: none;
        position: absolute;
        top: -3px;
        transform: scale(0.8);
        transition: transform 0.2s,opacity 0.2s;
        width: 100%;
      }
    }
  }
}

// ----------------------------------------------------------------------------
// MESSAGES
// ----------------------------------------------------------------------------
.messages {
  a {
    color: $color-dark;
  }
}

// ----------------------------------------------------------------------------
// NODES
// ----------------------------------------------------------------------------
.node--type-lamp.node--view-mode-full {
  margin-bottom: $inuit-global-spacing-unit-large;
  text-align: center;
   > div {
    margin-bottom: $inuit-global-spacing-unit-large;
    &:last-child {
      margin-bottom: 0;
    }
  }
   > div:not(.c-lamp-slider) {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .field--name-node-title {
    text-align: center;
    h2 {
      margin: 0;
    }
  }
  .field--name-body {
  }
}

.field--name-field-lamp-type {
   > div {
    display: inline-block;
    vertical-align: middle;
  }
}

.field--name-field-made-in {
  .field__label {
    &:before {
      background-image: svg("calendar.svg", "[fill]: white");
      background-size: 20px;
      content: "";
      display: inline-block;
      margin-right: 5px;
      size: 20px;
      vertical-align: top;
    }
  }
   > div {
    display: inline-block;
    vertical-align: middle;
  }
}

.field--name-field-images {
  img {
    max-height: 100%;
    width: auto;
  }
}

.field--name-field-homepage-slider-images {
  img {
    height: auto;
    max-width: 100%;
  }
}

.field--name-dynamic-block-fieldnode-facebook-like-button-field {
   > .fb_iframe_widget {
    background-color: white;
    display: inline-block;
    padding: 10px;
  }
}

// ----------------------------------------------------------------------------
// SLIDER HP
// ---------------------------------------------------------------------------- 
.field--name-field-homepage-slider-images {
  &.slick-slider {
    bottom: 0;
    left: 0;
    position: fixed; // because of contextual links
    right: 0;
    top: 0;
    z-index: -1;
  }
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .slick-slide {
    div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }
  .slick-current {
    div {
      body:not(.splash-active) & {
        animation: zoomin 120s infinite linear 1s;
      }
    }
  }
  .slick-arrow {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    font-size: 0;
    height: 100vh;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 1;
    &:hover {
      opacity: 1;
      transition: $transition-duration;
    }
  }
  .slick-prev {
    background-image: svg("right-arrow-angle.svg", "[fill]: #fff");
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next {
    background-image: svg("right-arrow-angle.svg", "[fill]: #fff");
    right: 0;
  }
}

// ----------------------------------------------------------------------------
// SLIDER LAMP
// ---------------------------------------------------------------------------- 
.c-lamp-slider {
  position: relative;
}

.field--name-field-images {
  // prevent content jump before JS init
   > .field__item:not(:first-child) {
    display: none;
  }
  &.slick-slider {
    overflow: hidden;
  }
  .field__item {
    text-align: center;
  }
  .slick-slide {
    cursor: pointer;
    outline: none;
    position: relative;
    &:after {
      background-color: rgba(0,0,0,0.9);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    &.slick-active {
      border-bottom: 3px solid white;
      cursor: default;
      &:after {
        display: none;
      }
    }
  }
  .slick-slide-next {
    cursor: svg("angle-right.svg", "[fill]: #fff");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 100px;
  }
  .slick-arrow {
    background-color: rgba(black, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    bottom: 0;
    font-size: 0;
    height: 100%;
    padding: 0 20px;
    position: absolute;
    top: 0;
    z-index: 1;
    &:before {
      color: white;
      font-size: 30px;
    }
  }
  .slick-prev {
    background-image: svg("right-arrow-angle.svg", "[fill]: #fff");
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next {
    background-image: svg("right-arrow-angle.svg", "[fill]: #fff");
    right: 0;
  }
}

.slick-expander {
  background-color: rgba(black, 0.4);
  background-image: svg("expand.svg", "[fill]: #fff");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 50%;
  bottom: 30px;
  // display: none;
  opacity: 0;
  position: absolute;
  right: 30px;
  size: 40px;
  text-decoration: none;
  .slick-active:hover & {
    opacity: 0.7;
    transition: $transition-duration;
  }
  &.slick-expander:hover {
    background-color: rgba(black, 0.9);
    opacity: 1;
    transition: $transition-duration;
  }
}

.slick-count {
  background-color: rgba(black, 0.4);
  border-radius: 0 0 $radius-global $radius-global;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100px;
  z-index: 1;
  .slick-active & {
    opacity: 1;
    transition: $transition-duration;
  }
}

.field--name-display-field-copynode-lamp-images-copy {
  &.slick-vertical {
    font-size: 0; // dispal inline-block fix
    left: $inuit-global-spacing-unit;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
  }
  .field__item {
    &:at-most(3) {
      display: none;
    }
  }
  .slick-slide {
    border: 0;
    outline: none;
    &.slick-current {
      position: relative;
      &:before {
        background-color: white;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
      }
    }
    img {
      height: auto;
      max-width: 100%;
    }
  }
  .slick-arrow {
    background-color: rgba(black, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    font-size: 0;
    height: 30px;
    // left: 0;
    padding: 0 20px;
    // position: absolute;
    // right: 0;
    width: 100%;
    z-index: 1;
  }
  .slick-prev {
    background-image: svg("angle-up.svg", "[fill]: #fff");
    top: 0;
  }
  .slick-next {
    background-image: svg("angle-down.svg", "[fill]: #fff");
    bottom: 0;
  }
}

// ----------------------------------------------------------------------------
// PARAGRAPHS
// ---------------------------------------------------------------------------- 
.field--name-field-paragraph-layouts {
   > .field__item {
    position: relative;
  }
}
.paragraph--type-two-column-layout {
  padding-bottom: 110px;
  padding-top: 110px;

  @include o-wrapper;
  .field--name-field-image {
    div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  .text-formatted {
    h2 {
      font-family: $font-leelawui;
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

// ----------------------------------------------------------------------------
// SCROLL TO
// ---------------------------------------------------------------------------- 
.scroll-to {
  border-radius: 15px;
  border: 2px solid white;
  bottom: 30px;
  font-size: 0;
  height: 50px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  text-align: center;
  width: 30px;
  z-index: 1;
  &:before {
    animation: scroll 1.5s infinite ease-in-out;
    background-image: svg("angle-down.svg", "[fill]: #fff");
    background-position: center 6px;
    background-repeat: no-repeat;
    background-size: 14px;
    content: "";
    display: block;
    position: relative;
    size: 100%;
  }
}

// ----------------------------------------------------------------------------
// SLICK SLIDER
// ---------------------------------------------------------------------------- 
// prevent content jump before JS init
.slick-slider,
.slick-nav,
.field--name-field-homepage-slider-images {
   > .field__item:not(:first-child) {
    display: none;
  }
}
// ----------------------------------------------------------------------------
// SHARETHIS
// ---------------------------------------------------------------------------- 
.stButton {
  margin: 0;
  .stLarge {
    vertical-align: middle;
  }
}

// ----------------------------------------------------------------------------
// STICKY
// ----------------------------------------------------------------------------
.sticky-wrapper {
  position: relative;
  z-index: 1;
}

// ----------------------------------------------------------------------------
// SPLASHIFY
// ----------------------------------------------------------------------------
.splash-active,
.splash-hidden {
  margin: 0 !important;
  padding: 0 !important;
  .toolbar {
    // .l-container {
    display: none;
  }
}

.splash-wrapper {
  background-image: inline("landing-page.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% !important;
  min-width: 100%;
}

.splash-inner {
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.c-power-cta {
  left: 70%;
  position: absolute !important;
  top: 41%;
  z-index: 1;
   > * {
    margin-bottom: $inuit-global-spacing-unit;
  }
  .icon-power-off {
    animation: pulse 4s infinite;
    background-color: #ffffff;
    background-image: svg("turn-off.svg", "[fill]: #000");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 82%;
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: 0 0 0 rgba(0,0,0, 0.4);
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    padding: 7px;
    size: 60px;
    vertical-align: middle;
    &:hover,
    &:focus {
      background-color: black;
      background-image: svg("turn-off.svg", "[fill]: #fff");
    }
    &:focus {
      animation: none;
      & ~ .c-power-cta__reveal-text,
      & ~ .c-power-cta__reveal-text:after {
        animation-play-state: running;
      }
    }
  }
}

.c-power-cta__text {
  color: #000000;
  font-family: $font-leelawui;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.c-power-cta__reveal-text,
.c-power-cta__reveal-text:after {
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.c-power-cta__reveal-text {
  animation-name: reveal-text;
  cursor: default;
  display: block;
  font-size: 30px;
  position: relative;
  user-select: none;
  white-space: nowrap;
  &:after {
    animation-name: revealer-text;
    background-color: #333333;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 0 50%;
    transform: scaleX(0);
    z-index: 999;
  }
}

// ----------------------------------------------------------------------------
// SMOOTH MENU
// ----------------------------------------------------------------------------
.c-smooth__menu {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
  &:after {
    background: rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
    width: 100%;
    will-change: opacity;
  }
  &--visible {
    pointer-events: auto;
    &:after {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.c-smooth__menu__app-menu {
  background-color: #000000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 400px;
  pointer-events: auto;
  position: relative;
  transform: translateX(-103%);
  width: 77%;
  will-change: transform;
  z-index: 160;
  .c-smooth__menu--visible & {
    transform: none;
  }
  .c-smooth__menu--animatable & {
    transition: all 130ms ease-in;
  }
  .c-smooth__menu--visible.c-smooth__menu--animatable & {
    transition: all 330ms ease-out;
  }
}

.c-smooth__layout {
  // background-color: #f5f5f5;
  // height: 667px;
  position: relative;
  width: 100%;
  z-index: 5;
}

.c-smooth__layout__header {
  background-color: #cccccc;
}

.c-smooth__layout__header__menu-icon {
  background-color: #666666;
  background-image: svg("hamburger.svg", "[fill]: white");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  // content: "Menu";
  color: #ffffff;
  display: block;
  height: 40px;
  position: fixed;
  right: 0;
  top: 0;
  width: 40px;

  @include mq($from: tablet_landscape) {
    display: none;
  }
}

// ----------------------------------------------------------------------------
// TABS
// ----------------------------------------------------------------------------
[id="block-m2q-local-tasks"] {
}

ul.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}

[dir="rtl"] .tabs > li {
  margin-left: 0.3em;
  margin-right: 0;
}

.tabs a {
  background-color: initial;
  box-shadow: inset 0 -0.2em 0 0 #e5eaec;
  color: #96a8b2;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}

.tabs a:focus,
.tabs a:hover,
.tabs a.is-active {
  color: white;
  transition: $transition-duration;
}
.tabs a.is-active {
  box-shadow: inset 0 -0.2em 0 0 white;
}

// ----------------------------------------------------------------------------
// TITLE
// ----------------------------------------------------------------------------
.block-page-title-block {
  bottom: 50%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transform: translateY(50%);
  z-index: 1;
  h1 {
    // padding: 0.2em 1em;
    animation-fill-mode: both;
    animation: fadeIn 350ms cubic-bezier(0.23,0.61,0.41,1) 1.75s;
    // border-radius: $radius-global $radius-global 0 0;
    display: inline-block;
    font-size: 100px;
    font-weight: 400;
    margin: 0;
    // background-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 6px rgba(0,0,0,0.6);
  }
}

// ----------------------------------------------------------------------------
// VIEWS
// ----------------------------------------------------------------------------
.view-galery {
  .view-header {
    @at-root .button-group {
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: space-between;
      button {
        background: none;
        border: 0;
        color: white;
        flex-grow: 1;
        font-family: "LeelawUI";
        font-weight: 700;
        font-weight: 700;
        padding: $inuit-global-spacing-unit-small;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  .view-content {
    background-image: inline("gallery-pozadinska-fotka.jpg");
    background-position: top center;
    background-repeat: repeat-y;
    background-size: contain;
    font-size: 0;
    padding: 100px 5px 5px;
  }
  .views-row {
    padding: 5px;
  }
  .views-row__inner {
    overflow: hidden;
    position: relative;
    &:before {
      background-color: white;
      bottom: 0;
      content: "";
      height: 3px;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: none;
      z-index: 1;
    }
    &:after {
      background-color: transparent;
      bottom: 0;
      content: "";
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: background-color 0.3s ease;
    }
    &:hover {
      .views-field-nothing {
        opacity: 1;
        top: 50%;
        visibility: visible;
      }
      &:before {
        opacity: 1;
      }
      &:after {
        background-color: rgba(black, 0.8);
      }
      img {
        transform: scale(1.05);
        transition: transform 0.3s ease-out;
      }
    }
    img {
      height: auto;
      max-width: 100%;
      transform: scale(1);
    }
  }
  // .o-layout__item {
  //   padding: 0;
  // }
  .views-field-field-images {
    ul {
      margin: 0;
    }
    li {
      list-style: none;
      margin: 0;
    }
    a {
      display: block;
    }
  }
  .views-field-nothing {
    align-items: center;
    color: #ffffff;
    display: flex;
    height: 100%;
    left: 50%;
    opacity: 0;
    padding: 30px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 100%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    width: 100%;
    z-index: 2;
    .field-content {
      color: white;
      display: block;
      font-size: 20px;
      font-weight: 700;
      width: 100%;
      // a {
      //   color: white;
      //   text-decoration: none;
      // }
    }
  }
  // @at-root .views-field-field-lamp-type {
  //   .field-content {
  //     &:contains("interior") {
  //       &:before {
  //         content: "\ea07";
  //         font-family: "Fontice-IconsFont";
  //       }
  //     }
  //   }
  // }
}

.view-hero {
  .views-field-field-hero-image {
    img {
      width: 100%;
    }
  }
}
