// ----------------------------------------------------------------------------
// CAPTION
// ----------------------------------------------------------------------------
figure {
  > figcaption {
    border-bottom: 1px solid #e8edf2;
    color: #666666;
    padding: $inuit-global-spacing-unit-small;

    @include inuit-font-size(15px);
    @include mq($from: tablet_landscape) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// MESSAGES
// ----------------------------------------------------------------------------
.messages {
  a {
    color: $color-dark;
  }
}

// ----------------------------------------------------------------------------
// BUTTONS
// ----------------------------------------------------------------------------
@mixin c-btn() {
  border-radius: $radius-btn;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 6px 25px;
  text-align: center;
  transition: $transition-duration;
  vertical-align: middle;

  @include inuit-font-size(14px);
  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

@mixin c-btn--primary() {
  background-color: $color-brand-lighter;
  border: 2px solid $color-brand-lighter;
  color: white;
}

@mixin c-btn--ghost() {
  background-color: transparent;
  border: 2px solid #e8edf2;
}

.c-btn.fa {
  padding: 6px 15px;
}

.c-btn.fa-facebook {
  background-color: #3b5998;
}

.c-btn.fa-twitter {
  background-color: $color-twitter;
}

.c-btn.fa-instagram {
  background-color: $color-instagram;
}

.c-btn.fa-linkedin {
  background-color: $color-linkedin;
}

.c-btn__wrapper {
  a {
    @include c-btn();
    @include c-btn--primary();
  }
}

.form-submit {
  @include c-btn();
  @include c-btn--primary();
}

.c-btn {
  @include c-btn();
}

.c-btn--primary {
  @include c-btn--primary();
}

.is-disabled {
  cursor: default !important;
  opacity: 0.5 !important;
  pointer-events: none !important;
}

// ----------------------------------------------------------------------------
// TABS
// ----------------------------------------------------------------------------
[id="block-m2q-local-tasks"] {
}

ul.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}

[dir="rtl"] .tabs > li {
  margin-left: 0.3em;
  margin-right: 0;
}

.tabs a {
  background-color: initial;
  box-shadow: inset 0 -0.2em 0 0 #e5eaec;
  color: #96a8b2;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}

.tabs a:focus,
.tabs a:hover,
.tabs a.is-active {
  color: white;
  transition: $transition-duration;
}
.tabs a.is-active {
  box-shadow: inset 0 -0.2em 0 0 white;
}

// ----------------------------------------------------------------------------
// FORMS
// ----------------------------------------------------------------------------
.form-type-textfield,
.form-type-password,
.form-type-email {
  label {
    display: block;
  }
}

.form-text,
.form-textarea,
.form-email {
  background-color: white;
  border: 2px solid $color-dark-lighter;
  border-radius: $radius-global;
  color: $color-dark;
  max-width: 100%;
  padding: 6px 8px;

  @include inuit-font-size(14px);
}

// ----------------------------------------------------------------------------
// TITLE
// ----------------------------------------------------------------------------
.block-page-title-block {
  h1 {
    font-weight: 400;
  }
  .region-featured & {
    position: absolute;
    h1 {
      margin: 0 auto;
    }
  }
  .region-content & {
    padding-top: $inuit-global-spacing-unit;

    @include mq($from: tablet_landscape) {
      padding-top: $inuit-global-spacing-unit-large;
    }
  }
}

// ----------------------------------------------------------------------------
// LOGO
// ----------------------------------------------------------------------------
.block-system-branding-block {
  display: table-cell;
}

// ----------------------------------------------------------------------------
// BLOCKS
// ----------------------------------------------------------------------------
.block {
  .region-content & {
    margin-bottom: $inuit-global-spacing-unit;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// VIEWS
// ----------------------------------------------------------------------------
.view-galery {
  .view-header {
    @at-root .button-group {
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: space-between;
      button {
        background: none;
        border: 0;
        color: white;
        font-family: "LeelawUI";
        font-weight: 700;
        font-weight: 700;
        padding: $inuit-global-spacing-unit-small;
        text-align: center;
        text-transform: uppercase;

        flex-grow: 1;
      }
    }
  }
  .views-row {
    overflow: hidden;
    position: relative;
    &:hover {
      .views-field-nothing {
        opacity: 1;
        transition: opacity 0.3s ease-out;

        filter: alpha(opacity=70);
      }
      img {
        transform: scale(1.02);
        transition: transform 0.3s ease-out;
      }
    }
    img {
      height: auto;
      max-width: 100%;
      transform: scale(1);
    }
  }
  .o-layout__item {
    padding: 0;
  }
  .views-field-field-images {
    ul {
      margin: 0;
    }
    li {
      list-style: none;
      margin: 0;
    }
  }
  .views-field-nothing {
    align-items: center;
    background-color: rgba(15,15,15,0.7);
    display: flex;
    height: 100%;
    left: 0;
    line-height: 24px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 0.2s ease-out;
    width: 100%;
    z-index: 100;

    filter: alpha(opacity=0);
    .field-content {
      color: white;
      display: block;
      width: 100%;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  // @at-root .views-field-field-lamp-type {
  //   .field-content {
  //     &:contains("interior") {
  //       &:before {
  //         content: "\ea07";
  //         font-family: "Fontice-IconsFont";
  //       }
  //     }
  //   }
  // }
}

// ----------------------------------------------------------------------------
// NODES
// ----------------------------------------------------------------------------
.node--type-lamp.node--view-mode-full {
  margin-bottom: $inuit-global-spacing-unit-large;
  text-align: center;
  > div {
    margin-bottom: $inuit-global-spacing-unit-large;
    &:last-child {
      margin-bottom: 0;
    }
  }
  > div:not(.c-lamp-slider) {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .field--name-node-title {
    text-align: center;
    h2 {
      margin: 0;
    }
  }
  .field--name-body {
  }
}

.field--name-field-lamp-type {
  > div {
    display: inline-block;
    vertical-align: middle;
  }
}

.field--name-field-made-in {
  .field__label {
    &:before {
      background-image: svg("calendar.svg", "[fill]: white");
      background-size: 20px;
      content: "";
      display: inline-block;
      margin-right: 5px;
      size: 20px;
      vertical-align: top;
    }
  }
  > div {
    display: inline-block;
    vertical-align: middle;
  }
}

.field--name-field-images {
  img {
    max-height: 100%;
    width: auto;
  }
}

.field--name-field-homepage-slider-images {
  img {
    height: auto;
    max-width: 100%;
  }
}

.field--name-dynamic-block-fieldnode-facebook-like-button-field {
  > .fb_iframe_widget {
    background-color: white;
    display: inline-block;
    padding: 10px;
  }
}

// ----------------------------------------------------------------------------
// MENUS
// ----------------------------------------------------------------------------  
.menu--main {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-small);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-small;
    vertical-align: middle;
    .region-header & {
      &--active-trail {
        position: relative;
      }
    }
    a {
      color: white;
      display: block;
      font-family: $font-leelawui;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      &.is-active {
        pointer-events: none;
        &:after {
          background-color: #ffffff;
          bottom: 0;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          transform: translate(0, 0);
          width: 100%;
        }
      }
      &:hover {
        &:after {
          transform: translate(102%, 0px);
        }
      }
      &:after {
        background-color: #ffffff;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transform: translate(-102%, 0px);
        transition: transform 700ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
        width: 100%;
      }
    }
  }
}

.menu--account {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-tiny);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-tiny;
    vertical-align: middle;
  }
}

.menu--social {
  .menu {
    margin: 0 (-$inuit-global-spacing-unit-tiny);
  }
  .menu-item {
    display: inline-block;
    margin: 0 $inuit-global-spacing-unit-tiny;
    vertical-align: middle;
    .c-menu--social__icon {
      background-color: rgba(#ffffff,0.3);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      border-radius: 50%;
      color: #333333;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 32px;
      position: relative;
      text-align: center;
      transition: background-color 0.2s, background-image 0.2s, color 0.2s;
      width: 32px;
      z-index: 1;
      &:hover {
        background-color: #ffffff;
        color: #ffffff;
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
      &.c-menu--social__icon--facebook {
        background-image: svg("facebook.svg", "[fill]: #333");
        &:hover {
          background-image: svg("facebook.svg", "[fill]: #{$color-facebook}");
        }
      }
      &.c-menu--social__icon--pinterest {
        background-image: svg("pinterest.svg", "[fill]: #333");
        &:hover {
          background-image: svg("pinterest.svg", "[fill]: #{$color-pinterest}");
        }
      }
      &.c-menu--social__icon--instagram {
        background-image: svg("instagram.svg", "[fill]: #333");
        &:hover {
          background-image: svg("instagram.svg", "[fill]: #{$color-instagram}");
        }
      }
      &:before {
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        @include inuit-font-size(20px);
      }
      &:after {
        border-radius: 50%;
        box-shadow: 0 0 0 2px #ffffff;
        box-sizing: content-box;
        content: "";
        height: 100%;
        left: -3px;
        opacity: 0;
        padding: 3px;
        pointer-events: none;
        position: absolute;
        top: -3px;
        transform: scale(0.8);
        transition: transform 0.2s,opacity 0.2s;
        width: 100%;
      }
    }
  }
}

// ----------------------------------------------------------------------------
// HP SLIDER
// ---------------------------------------------------------------------------- 
.field--name-field-homepage-slider-images {
  &.slick-slider {
    left: 0;
    position: fixed; // because of contextual links
    right: 0;
    top: 0;
    z-index: -1;
  }
  .slick-slide {
    img {
      height: auto;
      margin: auto;
      width: 100%;
    }
  }
  .slick-current {
    img {
      animation: zoomin 120s infinite linear 1s;
    }
  }
  .slick-arrow {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    font-size: 0;
    height: 100vh;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 1;
    &:hover {
      opacity: 1;
      transition: $transition-duration;
    }
  }
  .slick-prev {
    background-image: svg("right-arrow-angle.svg", "[fill]: #fff");
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next {
    background-image: svg("right-arrow-angle.svg", "[fill]: #fff");
    right: 0;
  }
}

// ----------------------------------------------------------------------------
// LAMP SLIDER
// ---------------------------------------------------------------------------- 
.c-lamp-slider {
  position: relative;
}

.field--name-field-images {
  &.slick-slider {
    overflow: hidden;
  }
  .field__item {
    text-align: center;
  }
  .slick-slide {
    cursor: pointer;
    outline: none;
    position: relative;
    &.slick-active {
      cursor: default;
      outline-color: white;
      outline-style: auto;
      outline-width: 5px;
    }
  }
  .slick-arrow {
    background-color: rgba(black, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    bottom: 0;
    font-size: 0;
    height: 100%;
    padding: 0 20px;
    position: absolute;
    top: 0;
    z-index: 1;
    &:before {
      color: white;
      font-size: 30px;
    }
  }
  .slick-prev {
    background-image: svg("right-arrow-angle.svg", "[fill]: #fff");
    left: 0;
    transform: rotate(180deg);
  }
  .slick-next {
    background-image: svg("right-arrow-angle.svg", "[fill]: #fff");
    right: 0;
  }
}

.slick-expander {
  background-color: rgba(black, 0.4);
  background-image: svg("expand.svg", "[fill]: #fff");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 50%;
  bottom: 30px;
  // display: none;
  opacity: 0;
  position: absolute;
  right: 30px;
  size: 40px;
  text-decoration: none;
  .slick-active:hover & {
    opacity: 0.7;
    transition: $transition-duration;
  }
  &.slick-expander:hover {
    background-color: rgba(black, 0.9);
    opacity: 1;
    transition: $transition-duration;
  }
}

.slick-count {
  background-color: rgba(black, 0.4);
  border-radius: 0 0 $radius-global $radius-global;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100px;
  z-index: 1;
  .slick-active & {
    opacity: 1;
    transition: $transition-duration;
  }
}

.field--name-display-field-copynode-lamp-images-copy {
  &.slick-vertical {
    font-size: 0; // dispal inline-block fix
    left: $inuit-global-spacing-unit;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
  }
  .field__item {
    &:at-most(3) {
      display: none;
    }
  }
  .slick-slide {
    border: 0;
    outline: none;
    &.slick-current {
      outline-color: white;
      outline-style: auto;
      outline-width: 5px;
    }
    img {
      height: auto;
      max-width: 100%;
    }
  }
  .slick-arrow {
    background-color: rgba(black, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    font-size: 0;
    height: 30px;
    // left: 0;
    padding: 0 20px;
    // position: absolute;
    // right: 0;
    width: 100%;
    z-index: 1;
  }
  .slick-prev {
    background-image: svg("angle-up.svg", "[fill]: #fff");
    top: 0;
  }
  .slick-next {
    background-image: svg("angle-down.svg", "[fill]: #fff");
    bottom: 0;
  }
}

// ----------------------------------------------------------------------------
// SLICK SLIDER
// ---------------------------------------------------------------------------- 
// prevent content jump before JS init
.slick-slider,
.slick-nav,
.field--name-field-homepage-slider-images {
  > .field__item:not(:first-child) {
    display: none;
  }
}
// ----------------------------------------------------------------------------
// SHARETHIS
// ---------------------------------------------------------------------------- 
.stButton {
  margin: 0;
  .stLarge {
    vertical-align: middle;
  }
}

// ----------------------------------------------------------------------------
// STICKY
// ----------------------------------------------------------------------------
.sticky-wrapper {
  position: relative;
  z-index: 1;
}

// ----------------------------------------------------------------------------
// SPLASHIFY
// ----------------------------------------------------------------------------
.splash-active {
  margin: 0 !important;
  padding: 0 !important;
  .toolbar,
  .l-container {
    display: none;
  }
}

.splash-wrapper {
  background-image: inline("landing-page.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% !important;
  min-width: 100%;
}

.splash-inner {
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.c-power-cta {
  left: 60%;
  position: absolute !important;
  top: 41%;
  z-index: 1;
  > * {
    margin-bottom: $inuit-global-spacing-unit;
  }
  .icon-power-off {
    animation: pulse 4s infinite;
    background-color: #ffffff;
    background-image: svg("turn-off.svg", "[fill]: #000");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 82%;
    border: 4px solid black;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0,0,0, 0.4);
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    padding: 7px;
    size: 60px;
    vertical-align: middle;
    &:hover,
    &:focus {
      background-color: black;
      background-image: svg("turn-off.svg", "[fill]: #fff");
    }
    &:focus {
      animation: none;
      & ~ .c-power-cta__reveal-text,
      & ~ .c-power-cta__reveal-text:after {
        animation-play-state: running;
      }
    }
  }
}

.c-power-cta__text {
  color: #000000;
  font-family: $font-leelawui;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

.c-power-cta__reveal-text,
.c-power-cta__reveal-text:after {
  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);

  animation-fill-mode: both;
}

.c-power-cta__reveal-text {
  animation-name: reveal-text;
  cursor: default;
  display: block;
  font-size: 30px;
  position: relative;
  user-select: none;
  white-space: nowrap;
  &:after {
    animation-name: revealer-text;
    background-color: #333333;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    z-index: 999;
  }
}

// ----------------------------------------------------------------------------
// HERO
// ----------------------------------------------------------------------------
.c-hero {
  position: relative;
  .field--type-image {
    img {
      height: auto;
      max-width: 100%;
    }
  }
}

.c-hero__overlay {
  position: absolute;
  background-color: $color-dark;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
}
