html {
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: $color-dark;
  font-family: $font-default;
  font-size: 16px;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
  margin-bottom: gutter-span();
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

dd,
ol,
ul {
  margin-left: gutter-span();
}

li {
  // margin-bottom: gutter-span() / 2;
  // margin-left: gutter-span();
}

li >  {
  ol,
  ul {
    margin-bottom: 0;
    // margin-top: gutter-span() / 2;
  }
}

fieldset {
  border: 0;
  min-width: 0;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img[width],
img[height] {
  max-width: 100%;
}

input[type="image"] {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  // margin: 5px;
   + label {
    vertical-align: middle;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea,
fieldset {
  background-color: white;
  border-bottom: 4px solid $color-brown-lighter;
  border-radius: $radius-form;
  border: 0;
  color: $color-dark;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.25em;
  max-width: 100%;
  outline: none;
  padding: 10px;
  width: 100%;
  &:focus {
    border-color: $color-brown;
    transition: transition-time;
  }
  &:disabled {
    background-color: #f3f3f3;
  }
}

input,
textarea {
  &::placeholder {
    color: $color-grey;
    opacity: 1;
  }
}

label {
  margin-bottom: 5px;
}

select {
  padding: 0.25em 0.5em 0.25em;
}

fieldset {
  background-color: transparent;
  max-width: 100%;
  min-width: 150px;
  width: 100%;
}

table {
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  thead,
  tbody {
    border: none;
  }
  tr,
  tr.odd,
  tr.even {
    background-color: transparent;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
  }
  th,
  td {
    border: none;
    padding: 0.25em 0;
    &.active {
      background-color: transparent;
    }
  }
  th + th,
  td + td {
    padding-left: 1em;
  }
}

blockquote {
  border: 6px solid;
  color: $color-dark-lighter;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: gutter-span() * 2;
  margin-top: gutter-span() * 2;
  padding: 35px;
   > p {
    margin-top: 0;
    padding-left: 12px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: "\201C";
      left: 0;
      position: absolute;
    }
    &:after {
      content: "\201D";
    }
  }
}

iframe {
  max-width: 100%;
}

@font-face {
  font-family: "LeelawUI";
  font-style: normal;
  font-weight: 400;
  src: url(#{$font-path}/LeelawUI.ttf);
}

@font-face {
  font-family: "LeelawUI";
  font-style: normal;
  font-weight: 700;
  src: url(#{$font-path}/leelawdb.ttf);
}

@font-face {
  font-family: "Constantia";
  font-style: normal;
  font-weight: 400;
  src: url(#{$font-path}/constan.ttf);
}
