html {
  background-color: #333333;
}

// ----------------------------------------------------------------------------
// MASTER CONTAINER
// ----------------------------------------------------------------------------
.l-container {
  color: white;
  position: relative;
  a {
    color: white;
  }
}

// ----------------------------------------------------------------------------
// HIGHLIGHTED
// ----------------------------------------------------------------------------
.l-highlighted {
  background-color: black;
}

// ----------------------------------------------------------------------------
// MOBILE NAVIGATION
// ----------------------------------------------------------------------------
.l-navigation {
  @include mq($from: tablet_landscape) {
    display: none;
  }
}

.region-navigation {
  padding: $inuit-global-spacing-unit;
  text-align: center;
   > * {
    margin-bottom: $inuit-global-spacing-unit;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ----------------------------------------------------------------------------
// TOP
// ----------------------------------------------------------------------------
.l-top {
  padding: $inuit-global-spacing-unit-small 0;
}

.region-top {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
   > div {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

// ----------------------------------------------------------------------------
// MASTER HEADER
// ----------------------------------------------------------------------------
.l-master-header {
  // height: 120px;
  @include mq($until: tablet_landscape) {
    display: none;
  }
  .page-node-type-page.not-logged-in & {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
  }
}

// ----------------------------------------------------------------------------
// HEADER
// ----------------------------------------------------------------------------
.l-header {
  background-color: rgba(black, 0.6);
  padding: 2px 0;
}

.region-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  //  > div {
  // &:first-child {
  //   text-align: left;
  // }
  // &:last-child {
  //   text-align: right;
  // }
  // }
}

// ----------------------------------------------------------------------------
// SUBMENU
// ----------------------------------------------------------------------------
.l-submenu {
  background-color: rgba(black, 0.8);
  padding: $inuit-global-spacing-unit-small 0;
  text-align: right;
}

// ----------------------------------------------------------------------------
// FEATURED
// ----------------------------------------------------------------------------
.l-featured {
  // margin-bottom: $inuit-global-spacing-unit * 2;
}

.region-featured {
  // align-items: center;
  // display: flex;
  // justify-content: center;
  position: relative;
}

.region-featured__overlay {
  background-color: black;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

// ----------------------------------------------------------------------------
// PRE CONTENT
// ----------------------------------------------------------------------------
.region-pre-content {
  position: relative;
}

// ----------------------------------------------------------------------------
// MAIN
// ----------------------------------------------------------------------------
.l-main {
  flex: 1 0 auto;
  padding-bottom: 100px;
  width: 100%;
  .page-node-type-lamp &,
  .page-node-type-page & {
    padding-bottom: 0;
  }
  .path-contact & {
    padding-top: 60px;
  }
}

// ----------------------------------------------------------------------------
// CONTENT
// ----------------------------------------------------------------------------
.l-content {
   > .o-wrapper {
    // .path-gallery &,
    .page-node-type-lamp &,
    .page-node-type-page & {
      max-width: none;
      padding: 0;
    }
  }
}
