html {
  background-color: #333333;
}
// ----------------------------------------------------------------------------
// MASTER CONTAINER
// ----------------------------------------------------------------------------
.l-container {
  // color: white;
  // a {
  //   color: white;
  // }
}

// ----------------------------------------------------------------------------
// HIGHLIGHTED
// ----------------------------------------------------------------------------
.l-highlighted {
  background-color: black;
}

// ----------------------------------------------------------------------------
// TOP
// ----------------------------------------------------------------------------
.l-top {
  padding: $inuit-global-spacing-unit-small 0;
}

.region-top {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  > div {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

// ----------------------------------------------------------------------------
// MASTER HEADER
// ----------------------------------------------------------------------------
.l-master-header {
  height: 120px;
}

// ----------------------------------------------------------------------------
// HEADER
// ----------------------------------------------------------------------------
.l-header {
  background-color: rgba(black, 0.6);
  padding: 2px 0;
}

.region-header {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  > div {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

// ----------------------------------------------------------------------------
// SUBMENU
// ----------------------------------------------------------------------------
.l-submenu {
  background-color: #9e9e9e;
  padding: $inuit-global-spacing-unit-small 0;
  text-align: right;
}

// ----------------------------------------------------------------------------
// FEATURED
// ----------------------------------------------------------------------------
.l-featured {
}

.region-featured {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

// ----------------------------------------------------------------------------
// PRE CONTENT
// ----------------------------------------------------------------------------
.region-pre-content {
  position: relative;
}

// ----------------------------------------------------------------------------
// MAIN
// ----------------------------------------------------------------------------
.l-main {
  // margin-top: $inuit-global-spacing-unit-large;
}
