html {
  background-color: #333333;
}

// ----------------------------------------------------------------------------
// MASTER CONTAINER
// ----------------------------------------------------------------------------
.l-container {
  color: white;
  position: relative;
  a {
    color: white;
  }
}

// ----------------------------------------------------------------------------
// HIGHLIGHTED
// ----------------------------------------------------------------------------
.l-highlighted {
  background-color: black;
}

// ----------------------------------------------------------------------------
// TOP
// ----------------------------------------------------------------------------
.l-top {
  padding: $inuit-global-spacing-unit-small 0;
}

.region-top {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
   > div {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

// ----------------------------------------------------------------------------
// MASTER HEADER
// ----------------------------------------------------------------------------
.l-master-header {
  // height: 120px;
  .page-node-type-page & {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

// ----------------------------------------------------------------------------
// HEADER
// ----------------------------------------------------------------------------
.l-header {
  background-color: rgba(black, 0.6);
  padding: 2px 0;
}

.region-header {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
   > div {
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

// ----------------------------------------------------------------------------
// SUBMENU
// ----------------------------------------------------------------------------
.l-submenu {
  background-color: rgba(black, 0.8);
  padding: $inuit-global-spacing-unit-small 0;
  text-align: right;
}

// ----------------------------------------------------------------------------
// FEATURED
// ----------------------------------------------------------------------------
.l-featured {
  // margin-bottom: $inuit-global-spacing-unit * 2;
}

.region-featured {
  // align-items: center;
  // display: flex;
  // justify-content: center;
  position: relative;
}

// ----------------------------------------------------------------------------
// PRE CONTENT
// ----------------------------------------------------------------------------
.region-pre-content {
  position: relative;
}

// ----------------------------------------------------------------------------
// MAIN
// ----------------------------------------------------------------------------
.l-main {
  flex: 1 0 auto;
  padding-bottom: 100px;
  // padding-top: 60px;
  width: 100%;
}

// ----------------------------------------------------------------------------
// CONTENT
// ----------------------------------------------------------------------------
.l-content {
  > .o-wrapper {
    // .path-gallery &,
    .page-node-type-lamp & {
      max-width: none;
      padding: 0;
    }
  }
}
