// ----------------------------------------------------------------------------
// VARIABLES
// ----------------------------------------------------------------------------
// Grid
$grid-columns: 12;
$default-grid-gutter: 20px;

// Fonts
$font-path:     "../../fonts";
$fa-font-path:  $font-path;

$font-roboto:     "Roboto", sans-serif;
$font-leelawui:   "LeelawUI", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-constantia: "Constantia", sans-serif;
$font-default:    $font-roboto;
$font-heading:    $font-montserrat;

// Colors
$color-brand:         #000000;
$color-brand-lighter: #00000f;
$color-blue:          #005da7;
$color-grey:          #f4f8fc;
$color-dark:          #444444;
$color-dark-lighter:  #999999;
$color-brown:         #a64310;
$color-brown-lighter: #885b17;

// Social network colors
$color-twitter:   #1da1f2;
$color-instagram: #e4405f;
$color-linkedin:  #0077b5;
$color-facebook:  #3B5998;
$color-pinterest: #BD081C;

// Rounding
$radius-global: 3px;
$radius-btn:    0;
$radius-form:   0;

// Widths
$wrapper-width-small:   800px;
$wrapper-width-medium: 1000px;
$inuit-wrapper-width:  1200px;

// Time
$transition-duration: (1/3) + s;

// Inuit variables
$wrapper-width: $inuit-wrapper-width;
$inuit-global-spacing-unit: 10px;
$inuit-offsets: true;

// Contexts
$context-toolbar: ".toolbar-horizontal";

// Breakpoints
$mq-breakpoints: (
    mobile:            320px,
    tablet:            600px,
    tablet_landscape:  900px,
    desktop:          1200px,
    
    // tweakpoints based on content
    desktop_wide:     1350px
);

// ----------------------------------------------------------------------------
// CONFIG
// ----------------------------------------------------------------------------
// by default theme debug mode is disabled
// on gulp watch command we enable debug mode
$debug: false !default;

@if (inuit-config(debug) == true) {
  $mq-show-breakpoints: (mobile, tablet, tablet_landscape, desktop, desktop_wide);
}
